.container {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--fourth-color-minor);
    border-radius: 20px;
}
.title {
    color: var(--title-color); /* Ou une autre couleur que tu préfères */
}
.player__number {
  font-size: var(--h2-font-size);
  color: var(--primary-color-minor);
  font-weight: var(--weight-700);
}

.container__players {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: flex-start;
}
.player {
    padding: 10px 20px;
    min-width: 30px;
    border-radius: 15px;
    color: var(--text-white);
    background-color: var(--primary-color-major);
}