.search_block {
    display: flex;
    justify-content: center;
    align-items: end;
}

.delete_icon {
    position: absolute;
    cursor: pointer;
    background-color: var(--container-color);
    padding: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 9px;
    right: 15px;
}

.delete_icon:hover {
    background-color: var(--tertiary-color-major);
}

.delete_icon span {
    position: absolute;
    top: 14px;
    left: 5px;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--text-white);
}
.delete_icon span:first-child {
    transform: rotate(45deg) translate(0px, 0px);
}
.delete_icon span:last-child {
    transform: rotate(-45deg) translate(0px,0px);
}

@media screen and (max-width : 480px){
    .search_block {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}