.container {
    width: 100%;
}

.player__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.player__element {
    display: flex;
}

.player__name, .player__input {
    color: var(--text-color);
    background-color: var(--secondary-color);
    text-align: left;
    line-height: 2;
    border: 1px solid var(--first-color);
    padding: 10px;
}

.player__input, 
.player__name {
    width: 50%;
}

.button__delete {
    width: 150px;
}

.button__add {
    width: 50%;
}