.modal {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw; 
    z-index: 1000;
    background-color: var(--modal-color) ;
    display: flex;
}

.box {
    position: relative;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
    max-width: 90%;
    width: 800px;
    margin: auto;
    padding: 30px;
    color: var(--text-white);
    border: 10px solid var(--primary-color-minor);
    border-radius: 30px;
    background-color: var(--tertiary-color-major);
}

.title {
    position: absolute;
    top: 0;
    padding: 20px;
}