.volume__control {
    accent-color: var(--primary-color-major);
    position: fixed;
    left: 50%;
    bottom: 0;
    padding: 10px;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
  }
  
  .volume__slider {
    width: 100%;
    max-width: 200px;
    background-color: aqua;
  }
  