.volume__control {
    accent-color: var(--primary-color-major);
    position: fixed;
    left: 50%;
    bottom: 0;
    padding: 15px;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
    text-align: center;
    z-index: 150;
  }
  
  .volume__slider {
    width: 100%;
    background-color: aqua;
  }
  